body {
    width: 900px;
    margin: 0 auto;
}

div {
    text-align: center;
}

.TODO {
    background-color: red;
}

.DONE {
    background-color: green;
}

.WIP {
    background-color: orange;
}

.activate {
    cursor: pointer;
    color: #fff;
}