body {
    width: 80%;
    margin: 0 auto;
}

div {
    text-align: center;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         
}

p { line-height: 130%;}

ul {
    list-style: none;    
}

ul li {
    display: inline;
    padding: 0 20px 0 20px;    
}

/*containers and content*/
.TODO {    
    background-color: red;    
    padding: 2%;
    width: 100%;
    margin-bottom: 3%;
}

.TODO p, .DONE p, .WIP p {
    word-wrap:break-word;
}

.DONE {
    background-color: green;    
    padding: 2%;
    width: 100%;
    margin-bottom: 3%;
}

.WIP {
    background-color: orange;    
    padding: 2%;
    width: 100%;
    margin-bottom: 3%;
}

/*buttons*/
.activate, .save, .delete {
    cursor: pointer;
    color: #fff;
}

.toTODO {
    background-color: red;
}

.toWIP {
    background-color: orange;
}

.toDONE {
    background-color: green;
}
span {
    padding: 30px;
}


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}