body {
    font-family: 'Lato', sans-serif;
    color: #6B695F;
}
a {
    color: #D65A23;
}
.home {
    background-color: #EBE8DF;

}
.col-centered {
    float: none;
    margin: 0 auto;
}
.start {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #B8B3A3;
    padding: 10px;
}
.start > h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B8B3A3;
}
.landing {
    margin: 3% 0 3% 0;
}
.landing > h1 {
    font-size: 6em;
    margin: 0;
}
.landing > p {
    font-size: 24px;
    margin: 0;
}
.top-left {
    position: absolute;
    left: 7px;
    top: 3px;
    color: white;
    cursor: pointer;
}
.top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95%;
    text-align: center;
    color: white;
}
.WIP .top-bar {
    background-color: orange;
}
.DONE .top-bar {
    background-color: green;
}
.TODO .top-bar {
    background-color: red;
}
/* Bootstrap overrides */

/* navigation */

.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: #EBE8DF;
    border-color: #e7e7e7;
}

.activate {
    padding: 30px 15px 20px 5px;
}
.WIP .btn, .TODO .btn, .DONE .btn {
    padding: 0px 4px;
    border-radius: 0;
}
.editable {
    word-wrap: break-word;
    min-height: 85px;
}
/* Custom media queries */

@media screen and (max-width: 768px) {
    .top-bar {
        width: 100%;
   }
}