<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Task Tracker</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-sortable.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='moment.min.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap-sortable.js')}}"></script>

        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        </head>
        {% block body %}
        {% endblock body %}
        <script src="{{url_for('static', filename='jeditable.min.js')}}"></script>
        <script src="{{url_for('static', filename='jquery.tinysort.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
    </html>