<!DOCTYPE html>  
<html lang="en">  
	<head>
			<meta charset="utf-8" />  
			<title>Check List</title>
                        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css" > 
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static.css')}}"> 
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
	</head>  

	<body>
        <a href="/add_post/">Add post</a>
        
        {% for post in posts %}
                <div class="{{post.status}}">       
                         
                         <p data-id="{{post.id}}" contenteditable="false">{{post.body}}</p>
                         <p>{{post.post_time}}</p>
                         <p>{{post.comment}}</p>         
                         
                         <!--<a href="/{{post.id}}/edit/">Edit post</a>-->
                         <span class="activate" data-id="{{post.id}}">Edit</span>
                         <span class="save" data-id="{{post.id}}">Save</span>
                         <span class="delete" data-id="{{post.id}}">Delete</span>
                </div>
        {% endfor %}

	</body>
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
</html>
