<!DOCTYPE html>  
<html lang="en">  
	<head>
			<meta charset="utf-8" />  
			<title>Check List</title> 
			<!--<link rel="stylesheet" type="text/css" href="fluid.css">-->  
	</head>  

	<body>
        {% for post in posts %}
         <p><strong>----------------------</strong></p>
         <p>{{post.body}}</p>
         <p>{{post.post_time}}</p>
         <p>{{post.comment}}</p>
         <p>{{post.status}}</p>
         <p><strong>----------------------</strong></p>
        {% endfor %}
	</body>
</html>
