{% extends "base.html" %}
{% block body %}


<body>
    {% include 'list_navbar.html' %}
    {% include 'flash.html' %}
    <div class="container" data-list-id="{{list_id}}">

        <p id="add_post">Add post</p>
        <br>
    {% autoescape false %}
    <div id="post_area">
        <!-- implement CSRF token here-->
        <form action="/{{list_id}}/add_post" method="POST">
            <label>Body</label>
            <textarea name="body"></textarea>
            <br/>
            <label>Status</label>
            <input type="radio" name="status" value="WIP">WIP<br>
            <input type="radio" name="status" value="DONE">DONE<br>
            <input type="radio" name="status" value="TODO">TODO
            <br />
            <input type="submit" value="Add post">
        </form>
    </div>

        <br>
        <p>List by: {{author}} </p>
        <div class="row">
        {% for post in posts %}
        <div class="col-sm-3 {{post.status}} activate" data-id="{{post.id}}">
            <div class="top-bar"><span>By: {{post.author}}</span></div>
            <div class="post_content">
                <div class="editable">{{post.body}}</div>
                <p>{{post.post_time}}</p>
            </div>
            <span class="glyphicon glyphicon-remove delete top-left"></span>
            <ul class="list-inline">
                <li></li>
                <li class="toTODO"><button type="button" class="btn btn-danger">TODO</button></li>
                <li class="toWIP"><button type="button" class="btn btn-warning">WIP</button></li>
                <li class="toDONE"><button type="button" class="btn btn-success">DONE</button></li>
            </ul>
        </div><!--column-->
        {% endfor %}
        </div><!--.row-->
        {% endautoescape %}
    </div><!--.container-->
</body>



{% endblock %}